#caja{
    width: 150px;
    height: 150px;
    margin: 2rem auto;
    background-color: black;
    transition: background .2s;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: url(img/fondo.webp);
    background-position: center;
    background-size: 200px;
    background-repeat: repeat;
    height: 1800px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    border: 1px inset #dd199c;
    padding: 1rem;
    border-radius: 5px;
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #dd199c;
    font-weight: 900;
}

#btn{
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background: #dd199c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: .5rem 1rem;
    cursor: pointer;
}
.tronco{
    display: flex;
    align-items: center;
    justify-content: center;
}
.piernas{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tronco div, .piernas div, #cabeza, .stickman{
    font-size: 50px;
    
}
.muneco{
    position: absolute;
    left: 60%;
    top: 35px;
    z-index: 10;
}
.stickman{
    padding: 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.palo{
    width: 300px;
    z-index: 10;
}
.palo img{
    width: 100%;
}
button{
    background-color: #dd199c;
    color: white;
    width: 40px;
    height: 40px;
    margin: 5px;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

span{
    border-bottom: 4px solid rgb(154, 6, 93);
    width: 50px;
    font-size: 50px;


}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    gap: 10px;
}
.parte{
    display: none;
}
#btn-reset{
    position: fixed;
    top: 1rem;
    font-size: 50px;
    font-weight: 800;
    color: #dd199c;
    right: 1rem;
}

#letras{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
}